<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/css/styles.css">
    <style>
        
    </style>
</head>
<body>
    <h1 style="color:green; text-align: center; background-color: blue;">
        Welcome to the Home Page
    </h1>
    <h2>Welcome to the Home Page</h2>
    <h3>Welcome to the Home Page</h3>
    <h4>Welcome to the Home Page</h4>
    <h5>Welcome to the Home Page</h5>
    <h2>Welcome to the Home Page</h2>
    <p>This is a simple Flask application.</p>
</body>
</html>